body {
    background-color: rosybrown;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: 'Nova Flat';
  color:rgb(47, 114, 5);
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;


}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
  width: 230px;
  margin: 50px auto;
}

div {
  border: 3px solid darkslategray;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  justify-content: center;
  align-items: center;
}

#reset-button {
  background-color:rgb(161, 175, 148);
  font-size: 24px;
  border-radius: 6px;
  margin: 2px auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color:saddlebrown;
  justify-content: center;
  align-items: center;
}